$bg-primary: #220901;
$bg-secondary: #621708; 
$bg-terciary: #F6AA1C;
$bg-sec-lighter: #9D0208;
$text-primary: white;
$text-light: rgba($color: white, $alpha: .7);
$text-secondary: #BC3908;
$text-terciary: #E85D04;
$text-ter-lighter: #FFBA08;
