.cartCards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.cartCard {
    padding: 30px;
    border: solid 1px black;
    color: rgba($color: white, $alpha: .9);
    display: flex;
    gap: 50px;

    position: relative;
    min-width: 100%;
    z-index: 1;
    align-items: center;

    &-background {
        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &::after {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($color: black, $alpha: .7);
        }

        >div {
            position: relative;
            width: 100%;
            height: 100%;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }


    &-img {
        width: 20%;

        img {
            height: 100%;
            object-fit: cover;
            aspect-ratio: 2/3;
        }

        &_notFound {
            object-fit: fill;
            aspect-ratio: 2/3;
            width: 100%;
            height: 100%;
            border: solid 1px grey;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        &-details {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    &-deleteBtn {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;
        overflow: hidden;

        display: flex;
        align-items: center;
        transition: all .3s;

        span:nth-child(1) {
            max-width: 0;
            opacity: 0;

            transition: all .3s;
        }

        &:hover {
            gap: 10px;

            span:nth-child(1) {
                max-width: 70px;
                opacity: 1;
            }
        }
    }
}

// Media queries
@media screen and (max-width: 575px) {
    .cartCard {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 0px;

        &-img {
            width: 20%;
            margin-top: 25px;
        }
    
        &-right {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-details {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 15px;
                
                font-size: .75rem;
                line-height: 1rem;
            }
        }
    }
}