// Efectos base para la tarjeta de crédito 
.rccs__card--unknown>div {
    background-image: url('/assets/img/empty-credit-card-bg.jpeg') !important;
}

.rccs__card--unknown .rccs__issuer {
    visibility: visible !important;
    background-image: url('/assets/img/visa.png') !important;
}

// CreditCardContainer
.creditCardContainer {
    @extend .myCustomScrollBar;
    overflow-x: hidden;
}

.creditCard {
    overflow: hidden;
    padding: 10px;
}

//Media queries
@media screen and (max-width: 375px) {
    .rccs__card {
        width: 90% !important;
    }
}