// Efectos base para la tarjeta de crédito 
.rccs__card--unknown>div {
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4) !important;
    background-image: url('/public/assets/img/empty-credit-card-bg.jpeg') !important;
}

.rccs__card--unknown .rccs__issuer {
    visibility: visible !important;
    background-image: url('/public/assets/img/visa.png') !important;
}

// CreditCardContainer
.creditCardContainer {
    @extend .myCustomScrollBar;
}
