.movieCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.movieCard {
    background-color: $bg-secondary;
    overflow: hidden;
    @extend .font-albert;

    border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);

    display: flex;
    gap: 20px;   
    background-color: rgba($color: #8d99ae, $alpha: .5);

    &_img {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 20px 0 20px 20px;

        img {
            height: 100%;
            aspect-ratio: 2/3;
            object-fit: cover;
        }

        &_notFound {
            padding: 10px;
            object-fit: fill;
            aspect-ratio: 2/3;
            width: 100%;
            background-color: whitesmoke;
            border: solid 1px grey;
        }
    }

    &_info {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 20px 0;
        position: relative;

        &__title {
            color: $text-primary;
            font-weight: 900;
        }

        &__review {
            color:$text-primary;
            @extend .font-quicksand;
        }

        &__details {
            display: flex;
            gap: 20px;
            font-size: .9rem;
            color: rgba($color: $text-primary, $alpha: .7);
            font-weight: 600;
        }

        &__premiere {
            display: flex;
            gap: 4px;
            width: fit-content;
            background-color: #F6AA1C;
            color: $text-secondary;
            padding: 4px;
            position: absolute;
            right: 0;
        }
    }

    &_extraInfo {
        width: 30%;
        color: $text-primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        background-color: rgba($color: #8d99ae, $alpha: .3);
        padding: 20px;

        &_item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            ul {
                display: flex;
                gap: 10px;
            }
            margin-bottom: 5px;
        }
    }
}
