.myNavbar {
    background-color: black;
    color: white;
    z-index: 1000;
    position: sticky;
    width: 100%;
    top: 0;
    height: max-content;

    .nav-logo {
        @include drop-text-shadow(2rem, white, 2rem, white);

        &:hover {
            @include drop-text-shadow(.5rem, white, 10px, white);
        }
    }

    .nav-active {
        @include drop-text-shadow(.5rem, white, 10px, white);
        border-bottom: solid 2px white;
    }

    .nav-icons {
        li {
            width: 30px;
            height: 30px;
            
            &:hover {
                @include drop-text-shadow(.5rem, white, 10px, white);
            }
        }
    }

    .nav-overlay {
        background-color: black;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: solid 2px white;
        transition: all .3s;
        height: 100vh;
        

        ul {
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}