.myNavbar {
    font-family: 'Bowlby One', cursive;
    background-color: black;
    color: white;
    z-index: 100;
    position: sticky;
    top: 0;
    height: max-content;

    .nav-logo {
        filter: drop-shadow(0 0 .5rem white);
        &:hover {
            @include drop-text-shadow(.5rem, white, 10px, white);
        }
    }

    .nav-active {
        border-bottom: solid 2px white;
    }

    .nav-icon {
        background-color: white;
        color: black;
        &:hover {
            background-color: black;
            color: white;
        }
    }

    .nav-overlay {
        background-color: black;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: solid 2px white;
        transition: all .3s;
        height: calc(100vh - 100%);
    }
}

.cartWidget {
    &_active {
        overflow: hidden;

        >label {
            transform: translateX(4rem);
        }
    }

    &_shakeCount {
        button {
            @extend .jello-horizontal;
        }
    }
}

.flyingImg {
    position: absolute;

    width: 20%;
    z-index: 100;
    animation: fly_to_cart 2s ease-in-out;
}

@keyframes fly_to_cart {
    0% {
        left: var(--left);
        bottom: 0;
    }

    45%,
    50% {
        right: var(--right);
        bottom: 60px;
        transform: scale(.4);
    }

    80% {
        right: var(--right);
        bottom: var(--bottom);
        transform: scale(.1);
    }

    90% {
        left: calc(var(--left) + 50px);
        bottom: var(--bottom);
        transform: scale(.1);
    }

    100% {
        left: calc(var(--left) + 70px);
        bottom: var(--bottom);
        transform: scale(.1);
    }
}

.searchContainerOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    z-index: 100;
}

.searchContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;


    &_input {
        border: none;
        outline: none;
        flex-grow: 1;
        color: #9e9e9e;
        background-color: black;
        letter-spacing: 0.025em;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: 'Albert Sans', sans-serif;
    }
}

.search-dropdown {
    background-color: rgba($color: white, $alpha: .9);
    color: black;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 9px;
    padding: 0;

    @extend .myCustomScrollBar;
}