.myNavbar {
    background-color: black;
    color: white;
    z-index: 100;
    position: sticky;
    width: 100%;
    top: 0;
    height: max-content;

    .nav-logo {
        @include drop-text-shadow(2rem, white, 2rem, white);

        &:hover {
            @include drop-text-shadow(.5rem, white, 10px, white);
        }
    }

    .nav-active {
        @include drop-text-shadow(.5rem, white, 10px, white);
        border-bottom: solid 2px white;
    }

    .nav-icon {   
        &:hover {
            @include drop-text-shadow(.5rem, white, 10px, white);
        }
    }

    .nav-overlay {
        background-color: black;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: solid 2px white;
        transition: all .3s;
        height: calc(100vh - 100%);
    }
}

.cartWidget {
    &_active {
        overflow: hidden;
        > label{
            transform: translateX(4rem);
        }
    }

    &_shakeCount{
        button {
            @extend .jello-horizontal ;
        }
    }
}

.flyingImg {
    position: absolute;

    width: 20%;
    z-index: 100;
    animation: fly_to_cart 2s ease-in-out;
}

@keyframes fly_to_cart {
    0% {
        left: var(--left); 
        bottom: 0;
    }
    
    45%, 50% {
        right: var(--right); 
        bottom: 60px;
        transform: scale(.4);
    }

    80%{
        right: var(--right); 
        bottom: var(--bottom);
        transform: scale(.1);
    }

    90% {
        left: calc(var(--left) + 50px); 
        bottom: var(--bottom);
        transform: scale(.1);
    }

    100% {
        left: calc(var(--left) + 70px); 
        bottom: var(--bottom);
        transform: scale(.1);
    }
}
