html {
    scroll-behavior: smooth;
}

.myCustomScrollBar {
    &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: rgba($color: black, $alpha: .3);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: #000000, $alpha: .7);
        border-radius: 20px;
    }
}

body {
    min-height: 100vh;
    color: $text-ter-lighter;
    background-color: #000000;
}

main {
    margin-top: 30px;
    min-height: 100vh;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, $bg-sec-lighter);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, $bg-sec-lighter);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-box {
    @extend .myCustomScrollBar;
}