@tailwind base;
@tailwind components;
@tailwind utilities;

/* Borrar si no se usa */
@layer base {

    @layer hover {
        .drop-shadow-mine{
            filter: drop-shadow(0 0 .5rem white);
            color: white;
            text-shadow: 0 0 10px white;
        }
    }
}